.site-footer{
  position: relative;
  border-top: 2px solid #999 ;

   .fback-text{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #a6a6a6;
    font-weight: 400;
    float: right;
    padding: 30px;

    a{
      text-decoration: none;
      color: #939292;
      font-weight: 700;
    }
  }
  .site-nav{
    ul{
      margin: 0;
      float: left;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        float: right;
        padding-top: 15px;

        a {
          display: inline-block;
          padding: 30px;
          text-decoration: none;
          color: #555555;
          padding-left: 0;
        }
        a:hover,
        a:active{
          color: black;
        }
      }
    }
    .site-nav ul:before, .site-nav ul:after{ content:""; display: table;}
    .site-nav ul:after{ clear: both;}
    .site-nav ul {*zoom: 1;}
  }
  .social{
    position: absolute;
    margin-left: 395px;
    padding-top: 30px;
  }

}
